<div class="contain  justify-content-center w-100">

  <div class="carders d-flex">
    <div class="carder-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/F4720F3465FEA92B9F096738F3B762797A0B8AE00EC1C5919EB2C68C70C0E544/scale?width=506&aspectRatio=2.00&format=jpeg)">

    <div class="btn-ghost"><%= link_to "Movies", "/movies"%></div>
    </div>

    <div class="carder-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.npr.org/assets/img/2013/04/22/dark-side_sq-1da3a0a7b934f431c175c91396a1606b3adf5c83-s1100-c50.jpg)">

      <div class="btn-ghost"><%= link_to "Music", "/musics" %></div>
    </div>

    <div class="carder-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://assets.teenvogue.com/photos/5cd4384fac4d9e712fe2ebb0/2:3/w_1852,h_2778,c_limit/The%20Gravity%20of%20Us_.jpg)">
    <div class="btn-ghost"><%= link_to "Books", "/books"%></div>

    </div>
  </div>
</div>
