<div class="contain  justify-content-center w-100">

  <div class="carders d-flex">
    <div class="carder-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.postimg.cc/NMYpNwdX/halloween-ends.webp)">
      <div class="explorer mt-5">
      </div>
      <div class="explorer mb-5">
        <%= link_to "Explore Movies", "/movies", class:"btn-ghost"%>
      </div>
    </div>

    <div class="carder-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn2.albumoftheyear.org/375x/album/520372-being-funny-in-a-foreign-language.jpg)">
      <div class="explorer mt-5">
      </div>
      <div class="explorer mb-5">
        <%= link_to "Explore Music", "/musics", class:"btn-ghost" %>
      </div>
    </div>

    <div class="carder-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images-na.ssl-images-amazon.com/images/I/71xD1Mog4AL.jpg)">
      <div class="explorer mt-5">
      </div>
      <div class="explorer mb-5">
        <%= link_to "Explore Books", "/books", class:"btn-ghost"%>
      </div>
    </div>
  </div>
</div>
