.show-container {
  display: flex;
  align-items: center;
  height: 400px;

}

.content-details {
  background-color:#212125;
  box-shadow: 2px 2px 3px;
  padding-bottom: auto;


}

.card-text {
  color: white;
}

.card-title {
  color: #0ba488;
}

.show-align-vertical {
  position: absolute;
  width: 100%;
  top: 25%;
}
