  <div class="buttoner">
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <%= image_tag("carousel-icon-prev.svg") %>
      <span class="visually-hidden">Previous</span>
    </button>
  </div>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval= "2000">
      <img src="https://wallpaperset.com/w/full/6/4/8/366206.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval= "2000">
      <img src="https://wallpapers-hub.art/wallpaper-images/645141.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item " data-bs-interval= "2000">
      <img src="https://c4.wallpaperflare.com/wallpaper/799/191/755/godzilla-movies-digital-art-movie-poster-wallpaper-preview.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <%= image_tag("carousel-icon-next.svg") %>
    <span class="visually-hidden">Next</span>
  </button>
