  <div class="buttoner">
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <%= image_tag("carousel-icon-prev.svg") %>
      <span class="visually-hidden">Previous</span>
    </button>
  </div>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval= "2000">
      <img src="https://c4.wallpaperflare.com/wallpaper/98/689/83/pink-floyd-prism-album-covers-cover-art-wallpaper-preview.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval= "2000">
      <img src="https://i.pinimg.com/736x/97/9d/8c/979d8ceba4a26c5f414bf17b5e0c3314.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item " data-bs-interval= "2000">
      <img src="https://c4.wallpaperflare.com/wallpaper/877/441/266/music-album-covers-led-zeppelin-wallpaper-preview.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>

  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <%= image_tag("carousel-icon-next") %>
    <span class="visually-hidden">Next</span>
  </button>
