<footer>
  <div class="footer-basic">

    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Home</a></li>
      <li class="list-inline-item"><a href="#">About Us</a></li>
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">User Account</a></li>
    </ul>
    <p class="copyright">@2022 Minder, inc</p>

</div>
</footer>
