<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media.istockphoto.com/photos/digital-cyberspace-with-particles-and-digital-data-network-high-picture-id1302189748?b=1&k=20&m=1302189748&s=612x612&w=0&h=eU4LXB00wfpaT9bB5uTIBLUEyONjxAlxd_l2qYx4bNE=);">
  <div class="contain">
    <h1>MINDER</h1>
    <p>Never miss another movie, book, album or concert from your favourite creators</p>
    <div class="barrel">
      <%= image_tag("music-icon.png", class: "mx-3")%>
      <%= image_tag("movie-icon.png", class: "mx-3")%>
      <%= image_tag("book-icon.png", class: "mx-3")%>
    </div>
    <div class="buttoner">
      <%= link_to "Discover", summaries_path, class: "btn-ghost" %>
    </div>
  </div>
</div>
