<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), asset_url('backy-img.jpg');">
  <div class="contain">
    <h1>MINDER</h1>
    <p>Never miss another movie, book, album or concert from your favourite creators</p>
    <div class="barrel">
      <%= image_tag("music-icon.png", class: "mx-3")%>
      <%= image_tag("movie-icon.png", class: "mx-3")%>
      <%= image_tag("book-icon.png", class: "mx-3")%>
    </div>
    <div class="buttoner">
      <%= link_to "Setup Your Profile", author_setup_path, class: "btn-ghost" %>
    </div>
  </div>
</div>
