<h1>Welcome to the best website of all time🤑</h1>
<%= link_to 'Sign in with Spotify', '/auth/spotify', method: :post %>


<div class="card-product">
    <img src="https://consequence.net/wp-content/uploads/2019/06/Tyler-the-Creator-Governors-Ball-2019-Ben-Kaye-1.jpg?quality=80">
    <div class="card-product-infos">
    <h2>Tyler The Creator</h2>
    <p>Thu, Apr 19 · 20.00 Pm at MTELUS, Montreal
  <a class="btn btn-flat" href="#">Book a ticket</a>
  </p>
          </div>
        </div>


<div>
    <div class="container">
    <div class="text-center"></div>
    <div class="card-trip">
    <img src= https://www.magneticmag.com/.image/t_share/MTYzODc1MDI3NzQwMDEwMjA5/unnamed.png>
    <div class= "card-trip-infos">
  <div>
    <h2>You might like</h2>
    <p>Tyler The Creator</p>
  </div>
    <h2 class="card-trip-category">Music</h2>
    </div>
