.btn-ghost {
  color: black;
  background-color: #0DCDAA;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  transition: color 0.3s ease;
  border: none;
  text-decoration: none;
}

.btn-follow {
  color: white;
  background: #0DCDAA;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  font-size: large;
  font-weight: bolder;
  transition: color 0.3s ease;
  border: none;
  text-decoration: none;
  position: absolute;
  top: 4px;
  left: 4px
}

.btn-heart-unchecked {
  position: absolute;
  top: 4px;
  left: 4px;
  color: white;
  font-size: 24px;
}
.btn-heart-checked {
  position: absolute;
  top: 4px;
  left: 4px;
  color: #FE0970;
  font-size: 24px;
}

.btn-heart-unchecked:hover {
  color: #FE0970;
}

.btn-ghost:hover {
  background-color: #0DCDAA;
  color: white;
  border: none;
}

.follow-artist {
  color: black;
  background-color: #0DCDAA;
}

.btn-search {
  color: #F4F4F4;
  background-color: #0DCDAA;
  border: none;
  transition: color 0.5s ease;
}

.btn-search:hover {
  background-color: #F4F4F4;
  color: #0DCDAA;
}
