.btn-ghost {
  color: black;
  background-color: #0DCDAA;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  transition: color 0.3s ease;
  border: none;
  text-decoration: none;
}

.btn-follow {
  color: white;
  background: #0DCDAA;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  font-size: large;
  font-weight: bolder;
  transition: color 0.3s ease;
  border: none;
  text-decoration: none;
  position: absolute;
  top: 4px;
  left: 4px
}

.btn-ghost:hover {
  background-color: #0DCDAA;
  color: white;
  border: none;
}

.follow-artist {
  color: black;
  background-color: #0DCDAA;
}

.btn-search {
  color: black;
  background-color: #0DCDAA;
  padding: 4px 8px;
  border-radius: 5px;
  font-weight: lighter;
  transition: color 0.3s ease;
  border: none;
  text-decoration: none;
}

.btn-search:hover {
  background-color: #0DCDAA;
  color: white;
  border: none;

}
