.btn-ghost {
  color: black;
  background-color: #0DCDAA;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  transition: color 0.3s ease;
  border: none;
  text-decoration: none;
}

.btn-follow {
  color: white;
  background: #0DCDAA;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  font-size: large;
  font-weight: bolder;
  transition: color 0.3s ease;
  border: none;
  text-decoration: none;
  position: absolute;
  top: 8px;
  right: 8px;
}

#btn-add-new {
  position: absolute !important;
  right: -48px;
  top: 12px;
}

.btn-follow:hover {
  background-color: #0dcdaab2;
  transition: background-color 0.3s ease;
}

.btn-heart-unchecked {
  position: absolute;
  top: 16px;
  right: 16px;
  color: lightgray;
  font-size: 32px;
  border: black;
}

.btn-heart-checked {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #FE0970;
  font-size: 32px;
  transition: color 0.3s ease;
}

.btn-heart-unchecked:hover {
  color: #FE0970;
  transition: color 0.3s ease;
}

.btn-ghost:hover {
  background-color: #0DCDAA;
  color: white !important;
  border: none;
  transition: color 0.3s ease;
}

.btn-trash {
  position: absolute;
  top: 16px;
  right: 16px;
  transition: color 0.3s ease;
  font-size: 24px;
  color: white;
}

.btn-trash:hover {
  color: #0DCDAA;
  border: none;
  transition: color 0.3s ease;
}



.follow-artist {
  color: black;
  background-color: #0DCDAA;
}

.btn-search {
  color: black;
  background-color: #0DCDAA;
  padding: 4px 8px;
  border-radius: 5px;
  font-weight: lighter;
  transition: color 0.3s ease;
  border: none;
  text-decoration: none;
}

.btn-search:hover {
  background-color: #0DCDAA;
  color: white;
  border: none;

}

.btn-ghoster {
  color: black;
  background-color: #0DCDAA;
  padding: 16px 48px;
  border-radius: 50px;
  font-weight: lighter;
  transition: color 0.3s ease;
  border: none;
  text-decoration: none;
}

.btn-ghoster:hover {
  background-color: #0DCDAA;
  color: white !important;
  border: none;
  transition: color 0.3s ease;
}
