#spotify-button {
  color: white;
  background-color: #0DCDAA;
  padding: 6px 18px;
  border-radius: 50px;
  font-weight: lighter;
  transition: color 0.3s ease;
  border: none;
  text-decoration: none;
  display: flex;
  align-items: center;
}

#spotify-title {
  justify-content: space-around;
}
