// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


.fullpage {
  min-height: 86.5vh;
}

.green-text {
  color: #0DCDAA;
}

.carousel-img {
  margin: 0 auto;
}

.green-div {
  background-color: #B4F0E5;
}
